@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700;800&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-weight: 400px;
}

.header {
    background-color: #F55A5A;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.card {
    display: flex;
}

.container {
    width: 50%;
    margin: auto;
}

.photo {
    width: 155px;
    height: 200px;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 30px;
}

.card-info {
    margin-left: 10px;
    margin-top: 30px;
}

.placeholder {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 15px;
    margin-right: 5px;
}

.location {
    letter-spacing: 0.17em;
}

.google {
    margin-left: 20px;
    letter-spacing: normal;
}

.title {
    font-weight: 700;
    font-size: 25px;
}

.dates {
    font-weight: 700;
    font-size: 16px;
}